<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Auth App | Password Reset</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!--VueJs-->
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
<div class="container my-5 py-5" id="app">
    <div class="row">
        <div class="col-md-6 col-sm-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Reset Your Password Now</h3>
                    <form @submit.prevent="resetPassword" v-if="!done">
                        <div class="form-group">
                            <label for="password">New Password</label>
                            <input type="password" v-model="password" id="password" class="form-control"
                                   placeholder="Enter Password">
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Confirm New Password</label>
                            <input type="password" v-model="confirm_password" id="confirm_password" class="form-control"
                                   placeholder="Enter Confirm Password">
                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-primary">Reset Password</button>
                        </div>
                    </form>
                    <p v-else>Your password reset is successful. Please log into the your account.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    new Vue({
        el: "#app",
        data: () => ({
            done: false,
            password: "",
            confirm_password: "",
        }),
        methods: {
            async resetPassword() {
                let {password, confirm_password} = this;
                let resetPasswordToken = window.location.href.split('/').pop();
                if (password && (password === confirm_password)) {
                    let data = await fetch('/users/reset-password-now', {
                        method: 'POST',
                        headers: {
                            'Content-Type': "application/json"
                        },
                        body: JSON.stringify({password, resetPasswordToken})
                    }).then(res => res.json());
                    console.log(data)
                    if (data.success) {
                        this.done = true;
                        setTimeout(() => {
                            window.opener = self;
                            window.close();
                        }, 5000);
                    }
                }
            }
        }
    });
</script>
</body>
</html>
